DISCORD_TOKEN=your_discord_bot_token_here
GITHUB_TOKEN=your_github_token_here

DISCORD_GUILD_ID=your_discord_guild_id_here

DATABASE_PATH=developer_bot.db


# github webhook secret
WEBHOOK_HOST=your_webhook_host_here
WEBHOOK_PORT=your_webhook_port_here
WEBHOOK_SECRET=your_webhook_secret_here 

DEBUG=True  